
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regla de acceso para la colección de usuarios
    match /Politecnico/{poliId}/usuarios/{userId} {
      allow read, write: if true; // Permitir lectura y escritura para la autenticación
    }
    
    match /Politecnico/{poliId}/pagos/{pagoId} {
      allow read, write: if true; // Permitir lectura y escritura para la gestión de pagos
    }
    
    match /Politecnico/{poliId}/tokens/{tokenId} {
      allow read, write: if true; // Permitir lectura y escritura para la recuperación de contraseña
    }
    
    match /Politecnico/{poliId}/carreras/{carreraId} {
      allow read: if true;
      allow write: if false; // Denegar escritura desde el cliente
    }
    
    // Denegar explícitamente la escritura en subcolecciones si es necesario.
    // Por ejemplo, para materias dentro de carreras, si se gestionaran como subcolección.
    match /Politecnico/{poliId}/carreras/{carreraId}/{subcollection}/{document=**} {
      allow write: if false;
    }
    
    // Reglas para otras colecciones...
    match /Politecnico/{poliId}/{document=**} {
      allow read: if true;
      allow write: if false; // Denegar escritura por defecto para otras colecciones
    }
  }
}
